#root {
  margin: 0;
  padding: 0;
}

.content-container {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center;
}