.navbar {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    overflow: hidden;
    width: 100%;
    background-color: black; 
}

.nav-links {
    display: flex;
    list-style: none;
    width: 100%;
    max-width: 1200px; /* Limits the width on larger screens */
    align-items: center;
    margin-right: 20px;
    padding: 0;
}

.nav-links .logo {
    margin-right: auto; /* Pushes other items to the right */
}

.nav-links .logo img {
    height:40px;
    margin-left: 20px;
    transition: transform 0.3s ease-in-out;
}

.nav-links .logo img:hover {
    scale:1,1 transition ease-in-out 0.3s;transform: scale(1.1);cursor: pointer;
}

.nav-links li {
    margin-left: 1rem;
}

.nav-links li:first-child {
    margin-left: 1rem;
}

.nav-links a {
    font-size: medium;
    text-decoration: none;
    color: inherit;
}